In [4]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
         "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
         "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

Yukarıdaki sözlüğü bir DataFrame haline getirin.

In [1]:
import pandas as pd

In [3]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
         "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
         "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

In [4]:
data = pd.DataFrame(sozluk)
data

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

# 1
- 2.indexde bulunan kategoriyi bulalım (Sadece kategori bilgisi) 
- 2. indexde bulunan ürünü bulalım (Sadece ürün bilgisi)
- 4.indexden 9.indexe kadar olan verileri bulalım (Kategori,ürün,fiyat bilgisi beraber)
- 1.indexden 6.indexe kadar olan ürünleri bulalım (Sadece ürün bilgisi)

In [8]:
data.loc[2,"Kategori"]

'Ayakkabı'

In [9]:
data.loc[2,"Ürün"]

'Sandalet'

In [10]:
data.loc[4:9]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [13]:
data.loc[1:6,"Ürün"]

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
Name: Ürün, dtype: object

# 2
- Giyim kategorisinde bulunan ürünleri gösterin
- Ayakkabı kategorisinde bulunan ürünleri gösterin
- Aksesuar kategorisinde bulunan ürünleri gösterin

In [15]:
data.loc[data["Kategori"] == "Giyim", "Ürün"]

0       Kazak
1     T-shirt
5    Pantolon
9       Ceket
Name: Ürün, dtype: object

In [16]:
data.loc[data["Kategori"] == "Ayakkabı", "Ürün"]

2         Sandalet
4    Spor Ayakkabı
8            Çizme
Name: Ürün, dtype: object

In [17]:
data.loc[data["Kategori"] == "Aksesuar", "Ürün"]

3     Küpe
6    Kolye
7    Yüzük
Name: Ürün, dtype: object

# 3
- Giyim kategorisinde fiyatı 300'den fazla olan ürünleri gösterin
- Ayakkabı kategorisinde fiyatı 600'den az olan ürünleri gösterin
- Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarı gösterin

In [18]:
data[(data["Kategori"] == "Giyim") & (data["Fiyat"] > 300)]

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [19]:
data[(data["Kategori"] == "Ayakkabı") & (data["Fiyat"] < 600)]

   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

In [20]:
data[(data["Kategori"] == "Aksesuar") & (data["Fiyat"] >100)]

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150